html {
  background-image: url("images/ingredients2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-weight: bold;
  font-size: 60px;
}
button {
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
  border-radius: 0;
  background-color: #008E00;
  color: white;
}
button:hover {
  background-color: #66BB66;
  color: black;
}
.search {
  text-align: center;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  margin-top: 40px;
  background-color: rgba(160,160,160, 0.5);
  padding-bottom: 10px;
}
.search:hover {
  color: rgb(120,0,0);
}
i {
  text-align: center;
}
i:hover {
  color: #CC0000;
}
p{
  font-family: 'Dosis', sans-serif;
}
.container {
  background-color: rgba(252, 200, 187, .5);
  font-family: 'Dosis', sans-serif;
}
.container {
  width: 100%;
  display: flex;
}
.youtube, .spoon {
   display: inline-block;
   text-align: center;
   width: 50%;
   height: 100%;
   padding-top: 30px;
 }
 .recipeImage {
   height: 300%;
   width: 300%;
 }
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-family: 'Dosis', sans-serif;
}
.recipeImage {
  height: 180px;
  width: 220px;
}

.yummlyWrapper {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}
.yummlyWrapper a h2 {
  float: left;
  padding-left: 10px;
}
